<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <%= link_to 'Sample App', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Help', help_path, class: 'nav-link' %>
        </li>
        <% if current_user %>
          <li class="nav-item dropdown">
            <%= link_to 'Account', '#', class: 'nav-link dropdown-toggle', 'data-bs-toggle': 'dropdown' %>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "Profile", current_user, class: 'dropdown-item' %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Log out", logout_path,
                                       data: { "turbo-method": :delete }, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
